/*------------------------------------------Cube-------------------------------------*/

.scene {
    margin-left: 25%;
    margin-top: 5%;
    width: 400px;
    height: 400px;
    -webkit-perspective: 1200px;
            perspective: 1200px; /*3x*/
}
    
    
.cube.show-front  { -webkit-transform: translateZ(-200px) rotateY(   0deg); transform: translateZ(-200px) rotateY(   0deg); }
.cube.show-right  { -webkit-transform: translateZ(-200px) rotateY( -90deg); transform: translateZ(-200px) rotateY( -90deg); }
.cube.show-back   { -webkit-transform: translateZ(-200px) rotateY(-180deg); transform: translateZ(-200px) rotateY(-180deg); }
.cube.show-left   { -webkit-transform: translateZ(-200px) rotateY(  90deg); transform: translateZ(-200px) rotateY(  90deg); }
.cube.show-top    { -webkit-transform: translateZ(-200px) rotateX( -90deg); transform: translateZ(-200px) rotateX( -90deg); }
.cube.show-bottom { -webkit-transform: translateZ(-200px) rotateX(  90deg); transform: translateZ(-200px) rotateX(  90deg); }
    
    
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
}
    
.cube__face {
    position: absolute;
    width: 400px;
      height: 400px;
      border: 2px solid black;
      line-height: 400px;
      font-size: 40px;
      font-weight: bold;
      color: white;
      text-align: center;
    }
    
    .cube__face--front  { background: hsla(88, 0%, 100%, 0.7); }
    .cube__face--right  { background: hsla(88, 0%, 31%, 0.7); }
    .cube__face--back   { background: hsla(88, 0%, 13%, 0.7); }
    .cube__face--left   { background: hsla(88, 0%, 37%, 0.7); }
    .cube__face--top    { background: hsla(88, 0%, 6%, 0.7); }
    .cube__face--bottom { background: hsla(88, 0%, 19%, 0.7); }
    
    .cube__face--front  { -webkit-transform: rotateY(  0deg) translateZ(200px); transform: rotateY(  0deg) translateZ(200px); }
    .cube__face--right  { -webkit-transform: rotateY( 90deg) translateZ(200px); transform: rotateY( 90deg) translateZ(200px); }
    .cube__face--back   { -webkit-transform: rotateY(180deg) translateZ(200px); transform: rotateY(180deg) translateZ(200px); }
    .cube__face--left   { -webkit-transform: rotateY(-90deg) translateZ(200px); transform: rotateY(-90deg) translateZ(200px); }
    .cube__face--top    { -webkit-transform: rotateX( 90deg) translateZ(200px); transform: rotateX( 90deg) translateZ(200px); }
    .cube__face--bottom { -webkit-transform: rotateX(-90deg) translateZ(200px); transform: rotateX(-90deg) translateZ(200px); }
    
    .cube__face--front{
        background-image: url("../blackjack/images/logo2.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        opacity: 0.9;
    }
     
    .cube__face--back{
        background-image: url("../blackjack/images/tekijaOR.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
    }
    
    .cube__face--left{
        background-image: url("../blackjack/images/tekijaLH.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
    }
    
    .cube__face--right{
        background-image: url("../blackjack/images/tekijaJK.png");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
    }
    
    .cube__face--top{
        background-image: url("../blackjack/images/tekijaJR.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
    }
    
    .pCube{
        position: absolute;
        padding: 0px;
        margin: 0px;
        margin-top: 250px;
        text-align: center;
        opacity: 0;
        color: black;
    }
    
    #C1{
        opacity: 1;
    }
    
    .overlay{
        display: block;
        width: 100%;
        height:100%;
        background: hsla(88, 0%, 25%, 0.7);
        font-family: Arial, Helvetica, sans-serif;
    }

    .overlay p{
        color: rgb(84, 196, 88);
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5), 0px 1px 0px black;
    }
    
    /*------------------------------------------Tekijät ja Footer-----------------------------------*/
    #footer{
        background: rgb(0,0,0);
        background: -webkit-linear-gradient(top, rgb(41, 41, 41) 0%, rgb(71,71,71) 28%, #B0B0B0 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(41, 41, 41)), color-stop(28%, rgb(71,71,71)), to(#B0B0B0));
        background: -o-linear-gradient(top, rgb(41, 41, 41) 0%, rgb(71,71,71) 28%, #B0B0B0 100%);
        background: linear-gradient(to bottom, rgb(41, 41, 41) 0%, rgb(71,71,71) 28%, #B0B0B0 100%);
        bottom: 0;
        width: 100%;
        height: 7%;
        position: fixed;
        padding: 1.5% 1.5% 1.5% 1.5%;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        z-index: 3;
    }

    h2#tekija {
        z-index: 7;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        font-family: 'MyCustom';
        font-size: 1.5em;
        letter-spacing: 3px;  
        color: rgba(0,0,0,.6);
        text-shadow: 3px 2px 3px rgba(255,255,255,.2),
                    0 2px 3px rgba(255,255,255,.2);
    }

    h2#tekija:hover{
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
        color: rgb(89, 204, 93);
        text-shadow: 1px 2px 3px black;
    }
    
    #cInfo{
        top: 0;
        right: 0;
        position: absolute;
        margin-top:8%;
        height:75%;
        width: 40%;
        background: transparent;
    }

    #cInfo h2, #cInfo p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        color: #262626;
    }
    
    #creators{
        position: absolute;
        top: 0;
        margin-top: 6%;
        margin-left: 10%;
        width: 10%;
        height: 50%;
    }

    #creators a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        color: #1b1b1b;
    }

    #cpText{
        padding-right: 5%;
    }

    .list{
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 17%;
         font-size: 20px;
        font-weight: bold;
    }
    
    .list:hover{
        background: white;
        color:black;
        cursor: pointer;
    }
    
    #rightCorner a:visited{
        text-decoration: none;
        color:black;
    }
    
    #tut{
        display:block;
        position:absolute;
        right:0;
        margin-top: 10%;
        margin-right: -1%;
        height: 100%;
        width: 10%;
    }

    @font-face{
    font-family: "MyCustom";
    src: url(fonts/Square.ttf);
    }


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;


}

body{
    position: fixed;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.bodyblur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    pointer-events: none;
    position: absolute;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

#site{
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-width: 100vW;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*NAVBAR*/
.topnav{
    margin: 0;
    z-index: 4;
    overflow: hidden;
    background: #B0B0B0;
    background: -webkit-linear-gradient(top, #B0B0B0 0%, #636363 70%, #292929 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#B0B0B0), color-stop(70%, #636363), to(#292929));
    background: -o-linear-gradient(top, #B0B0B0 0%, #636363 70%, #292929 100%);
    background: linear-gradient(to bottom, #B0B0B0 0%, #636363 70%, #292929 100%);
    min-height: 10vh;
    width: 100%;
    height: 10%;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.topnav a {
    
    float: left;
    display: block;
    color: black;
    text-align: center;
}

a#info{
    position: absolute;
    font-family: 'MyCustom';
    font-size: 7.5vh;
    padding-left: 1%;
    padding-top: 0.5vh;
    text-decoration: none;
    color: rgb(69, 160, 72);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5), 0px 1px 0px black;
}

#infopanel{
    display: none;
    z-index: 6;
    margin: 0;
    position: absolute;
    top: 50vh;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 70vw;
    min-width: 1038px;
    height: 70vh;
    border-radius: 5px;
    border: solid 4px rgba(59, 59, 59, 0.521);
    opacity: 0.95;
    background: #B0B0B0;
    background: -webkit-linear-gradient(top, #B0B0B0 0%, #636363 70%, #292929 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#B0B0B0), color-stop(70%, #636363), to(#292929));
    background: -o-linear-gradient(top, #B0B0B0 0%, #636363 70%, #292929 100%);
    background: linear-gradient(to bottom, #B0B0B0 0%, #636363 70%, #292929 100%);
}

#infopanel i {
    font-size: 48px;
    color: rgb(10, 85, 20);
    position: absolute;
    right: 1%;
    top: 1%;
    margin: 0;
}

#infopanel i:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(93, 255, 114);
    text-shadow: 1px 2px 2px black;
    cursor: pointer;
}

#infopanel h1{
    font-family: 'MyCustom';
    font-size: 1.5em;
    letter-spacing: 3px;  
    color: rgba(0,0,0,.6);
    text-shadow: 3px 2px 3px rgba(255,255,255,.2),
                    0 2px 3px rgba(255,255,255,.2);
    padding-left: 15px; 
    padding-top: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

#infopanel ul{
    margin-top: 10px;
    position: absolute;
    width: 70%;
    list-style: none;
    padding: 0 0 0 15px;
    border-right: solid 1px #121212;
    
}

#infopanel li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    min-height: 30px;
    border-bottom:solid 1px #121212;
}

#infopanel li h2{
    display: inline-block;
    text-align: left;
    width: 2%;
    min-width: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
#infopanel li h3{
    display: inline-block;
    text-align: left;
    width: 13%;
    min-width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}
 #infopanel li p{
    display: inline-block;
    width: 81%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em; 
 }

a#info:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(96, 219, 100);
    text-shadow: 1px 2px 3px #000000;
    cursor: pointer;
}

#infoikonit{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

#rivi{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2% 4% 3% 2%;
}

#rivi div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
}

#rivi div img{
    height: 60px;
    image-rendering: auto;    
    -ms-flex-item-align: center;    
        -ms-grid-row-align: center;    
        align-self: center;
}

#rivi div p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(26, 26, 26);
    overflow: visible;
    padding-bottom: 10px;
}

#ohjeet{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0f0f0f;
    display:block;
    width: 20%;
    min-width: 217px;
    position: absolute;
    top: 0;
    right: 8%;;
}

#ohjeet h1{
    font-family: 'MyCustom';
    font-size: 1.5em;
    letter-spacing: 3px;  
    color: rgba(0,0,0,.6);
    text-shadow: 3px 2px 3px rgba(255,255,255,.2),
                    0 2px 3px rgba(255,255,255,.2);
    padding-left: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

#tekkiit{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    display:block;
    width: 25%;
    position: absolute;
    top: 55%;
    right: 3%;
    padding: 0;
}

#tekkiit #tek1, #tekkiit #tek2{
    padding-left: 0;
    display: block;
}

#tek1:hover{ 
    
    color: rgb(96, 219, 100);
    text-shadow: 1px 2px 3px #000000;
    cursor: pointer;
}

#tekkiit p{
    color: #29e963;
    text-shadow: 1px 2px 1px black;
}

#logo{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#logo:hover{
    -ms-transform: translate(-50%, -50%) scale(1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
    cursor: pointer;
}

#logo img{
    max-width: 150px;
    height: auto;
}
.volume{
    visibility: visible;
}
span#mute, span#down, span#up{
    position: absolute;
    background-size: cover;
    display: block;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    top: 5vh;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#mute{
    background-image: url('images/volumemute.png');
    width: 25px;
    height: 25px;
    right: 24vw;
}

#up{
    background-image: url('images/volumeup.png');
    width: 30px;
    height: 25px;
    right: 7vw;
}

#down{
    background-image: url('images/volumedown.png');
    width: 25px;
    height: 25px;
    right: 21vw;
}


span#mute:hover, span#down:hover, span#up:hover{
    -ms-transform: translateY(-50%) scale(1.1);
        transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1);
    cursor: pointer;
    
}

#volumeslider{
    position: absolute;
    right: 10vw;
    margin: auto 0;
    display: block;
    top: 5vh;
	height: 5px;
	width: 10vw;
    background:rgb(196, 196, 196);
    -webkit-box-shadow: 0px 3px 3px rgba(255,255,255,0.5), 1px 1px 0px black;
            box-shadow: 0px 3px 3px rgba(255,255,255,0.5), 1px 1px 0px black;
    border-radius: 15px;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#volumeslider:hover{
    cursor: pointer;
}

.ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: rgb(177, 255, 181);
    border: none;
    border-radius: 10px;
    outline: none;
    
}

.ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgb(68, 68, 68);
    -webkit-box-shadow: 1px 1px 1px black;
            box-shadow: 1px 1px 1px black;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
    
}

.ui-slider-handle:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover{
    cursor: pointer;
}

#exit{
    position: absolute;
    right: 0;
    height: auto;
    padding-top: 0.5vh;
    padding-right: 1%;
    font-family: 'MyCustom';
    font-size: 7.5vh;
    text-decoration: none;
    color: rgb(69, 160, 72);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5), 0px 1px 0px black;
}

#exit:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(96, 219, 100);
    text-shadow: 1px 2px 3px #000000;
    cursor: pointer;
    
}

/*INTRO*/
#Intro{
    width: 100%;
}

#Intro h1{
    position: absolute;
    text-align: center;
    font-family: "MyCustom";
    letter-spacing: 6px;
    color: rgb(37, 37, 37);
    text-shadow: 
            0px 0px 1px rgb(212, 212, 212),
            5px 5px 1px rgb(212, 212, 212),
            5px 4px 1px rgb(212, 212, 212),
            5px 3px 1px rgb(212, 212, 212),
            5px 2px 1px rgb(212, 212, 212),
            5px 1px 1px rgb(212, 212, 212),
            5px 0px 1px rgb(212, 212, 212),
            4px 5px 1px rgb(212, 212, 212),
            3px 5px 1px rgb(212, 212, 212),
            2px 5px 1px rgb(212, 212, 212),
            1px 5px 1px rgb(212, 212, 212),
            0px 5px 1px rgb(212, 212, 212),

            6px 5px 3px black,
            6px 4px 3px black,
            6px 3px 3px black,
            6px 2px 3px black,
            6px 1px 3px black,
            6px 0px 3px black,
            0px 0px 3px black,
            6px 6px 3px black,
            5px 6px 3px black,
            4px 6px 3px black,
            3px 6px 3px black,
            2px 6px 3px black,
            1px 6px 3px black,
            0px 6px 3px black;
    font-size: 8rem;
    padding: 5% 5% 2% 5%;
    margin: 0;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#startBtn{
    position: absolute;
    background-color: #4CAF50;
    border-radius: 8px;
    font-family: "MyCustom"; 
    color: #d7ccc8;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 1px black, 0 0 8px rgba(0, 0, 0, 0.541), 1px 2px 10px rgba(0, 0, 0, 0.603);
    display: inline-block;
    font-size: 4rem;
    min-width: 300px;
    width: 25%;
    cursor: pointer; 
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: solid 3px rgb(34, 78, 36);
}

#startBtn:hover{
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    cursor: pointer;
}

/*GAME*/
.row{
    display: none; 
}

.players{
    display: none;
    height: 100vh;
    
}

.players h1{
    position: relative;
    display: block;
    top: 15%;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: #d7ccc8;
    text-shadow: 
            0px 2px 3px black,
            0px 3px 4px black;
    font-size: 4rem;
    margin: 0;
}

.players form{
    margin-top: 2vh;
    position: relative;
    top: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}



.players input[type=number]{

    width: 200px;
    height: 200px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid darkgrey;
    -webkit-box-shadow: 5px 5px 2px black;
            box-shadow: 5px 5px 2px black;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 6rem;
    text-align: center;
    resize: none; 
    cursor: text;
    margin-right: 5px;
}

.NamePlayers input[name=Pcolor]{
    width: 200px;
    height: 180px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid darkgrey;
    -webkit-box-shadow: 5px 5px 2px black;
            box-shadow: 5px 5px 2px black;
    background-color: whitesmoke;
    border-radius: 8px;
    resize: none; 
    cursor: pointer;
    margin-left: 5px;
}

.NamePlayers form div{
    margin-top: 2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.players input[type=number]:hover{
    background-color: lightgrey;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}

#SetPCount{
    display: block;
    background-color: #4CAF50;
    border: none;
    margin-top: 2.5%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    font-family: "MyCustom"; 
    color: #d7ccc8;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 1px black, 0 0 8px rgba(0, 0, 0, 0.541), 1px 2px 10px rgba(0, 0, 0, 0.603);
    font-size: 4rem;
    cursor: pointer; 
    border: solid 3px rgb(34, 78, 36);    
}

#SetPCount:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
}

.NamePlayers {
    display: none;
    height: 100vh;
}

.NamePlayers h1{
    position: relative;
    display: block;
    top: 15%;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: #d7ccc8;
    text-shadow: 
            0px 2px 3px black,
            0px 3px 4px black;
    font-size: 4rem;
    margin: 0;
}

.NamePlayers form{
    position: relative;
    top: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

#startGame input[type=text]{
    
    width: 450px;
    height: 180px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid darkgrey;
    -webkit-box-shadow: 5px 5px 2px black;
            box-shadow: 5px 5px 2px black;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 5rem;
    text-align: center;
    resize: none; 
    cursor: text;
}

#startGame div div{
    margin: 0;
}

#startGame div div i{
    position: absolute;
    font-size: 180px;
    color: hsla(0, 0%, 96%, 0.514);
    pointer-events: none;
} 

#StartGame{
    display: block;
    background-color: #4CAF50;
    border: none;
    margin-top: 2.5%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    border: solid 3px rgb(34, 78, 36);
    font-family: "MyCustom"; 
    color: #d7ccc8;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 1px black, 0 0 1pc black;
    font-size: 4rem;
    cursor: pointer; 
}

#StartGame:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;}

/*Nostettava pakka, oikealla*/
#carddeck {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10%;
    height: 300px;
    width: 200px;
    background-color: pink;
    background-image: url(images/Cardback.png);
    background-size: 200px 300px;
    z-index: 2;
   
    border: 1px solid	#282828;
    border-radius: 10px;
    pointer-events: visible;
    cursor: pointer;
}

#carddeck:hover {
    -ms-transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
    cursor: pointer;
}

.card{
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    top: 40%;
    right: 10%;
    height: 300px;
    width: 200px;
    background-color: transparent;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 2;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

#card{
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    /*-webkit-box-shadow: 5px 5px 10px black;
            box-shadow: 5px 5px 10px black;*/
            border: 1px solid	#282828;
    border-radius: 10px;
}

#card div{
    position: absolute;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.front, .back{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

#card .front{
    background-image: url(images/Cardback.png);
    background-size: 200px 300px;
}

.back{
    -webkit-transform: rotateY( 180deg);
            transform: rotateY( 180deg);
}

.flipped{
    -webkit-transform: rotateY( 180deg);
            transform: rotateY( 180deg);
} 

#rowh1 {
    position: absolute;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    top: 0;
    text-align: center;
    font-family: "MyCustom";
    letter-spacing: 6px;
    color: rgb(37, 37, 37);
    text-shadow: 
            0px 0px 1px rgb(212, 212, 212),
            5px 5px 1px rgb(212, 212, 212),
            5px 4px 1px rgb(212, 212, 212),
            5px 3px 1px rgb(212, 212, 212),
            5px 2px 1px rgb(212, 212, 212),
            5px 1px 1px rgb(212, 212, 212),
            5px 0px 1px rgb(212, 212, 212),
            4px 5px 1px rgb(212, 212, 212),
            3px 5px 1px rgb(212, 212, 212),
            2px 5px 1px rgb(212, 212, 212),
            1px 5px 1px rgb(212, 212, 212),
            0px 5px 1px rgb(212, 212, 212),

            6px 5px 3px black,
            6px 4px 3px black,
            6px 3px 3px black,
            6px 2px 3px black,
            6px 1px 3px black,
            6px 0px 3px black,
            0px 0px 3px black,
            6px 6px 3px black,
            5px 6px 3px black,
            4px 6px 3px black,
            3px 6px 3px black,
            2px 6px 3px black,
            1px 6px 3px black,
            0px 6px 3px black;
    font-size: 8rem;
    margin: 0 auto;
}

div#saanto p, div#saanto h1{
    padding: 5% 5% 2% 5%;
}

div#saanto h1{
    font-family: "MyCustom";
    text-align: center;
    font-size: 2.0em;
    color: #d7ccc8;
    letter-spacing: 0.3em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}

div#saanto p{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.6px;
    word-spacing: -0.2px;
    font-size: 1.2em;
    color: #d7ccc8;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding-bottom: 5%;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.192);
}

#saanto{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
    width: 40vw;
    height: 50%;
    background-color: #477148 ;
    -webkit-box-shadow: 5px 5px 10px black;
            box-shadow: 5px 5px 10px black;
    border:10px solid #395a3a;
    border-radius: 10px;
    z-index: 1;
}

/*Pelaajaikoni*/
.pelaajat{
    overflow: visible;
    margin: auto 0;
    position: fixed;
    bottom: 7vh;
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 83vh;
    width: 100vw;
    display: none;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 0;
    -webkit-transition: -webkit-box-flex 0.3s ease-in;
    transition: -webkit-box-flex 0.3s ease-in;
    -o-transition: flex 0.3s ease-in;
    transition: flex 0.3s ease-in;
    transition: flex 0.3s ease-in, -webkit-box-flex 0.3s ease-in, -ms-flex 0.3s ease-in;
}

.pysyvakortti{
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 128px;
    width: 100%;
    font-size: 1.5em;
    background-color: transparent;
    padding: 2px;
    text-align: center;
}

.pysyvakortti img {
    -webkit-animation: fadeInimg linear 0.5s;
            animation: fadeInimg linear 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    height: 55px;
    width: auto;
    z-index: 4;
    -ms-flex-item-align: end;
        align-self: flex-end;
    image-rendering: auto;
}

.pysyvakortti img:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
}

img.huora{
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    height: 50px;
    width: auto; 
    position: relative;
    top: 0;
    left: 0;

}


@-webkit-keyframes fadeInimg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeInimg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.pelaajat div.pelaaja{
    overflow: visible;
    text-align: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap:  nowrap;
        flex-wrap:  nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: center;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

p.nimi{
    font-size: 1.5rem;
    color: black;
    font-family: "MyCustom";
    padding: 10px 20px 10px 20px;
    background-color: whitesmoke;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-radius: 3px;
}

#taukoPopup, #PeliLoppu{
    display: none;
    z-index: 6;
    margin: 0;
    position: absolute;
    top: 50vh;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    border-radius: 5px;
    opacity: 0.9;
    background: #B0B0B0;
    background: -webkit-linear-gradient(top, #B0B0B0 0%, #636363 70%, #292929 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#B0B0B0), color-stop(70%, #636363), to(#292929));
    background: -o-linear-gradient(top, #B0B0B0 0%, #636363 70%, #292929 100%);
    background: linear-gradient(to bottom, #B0B0B0 0%, #636363 70%, #292929 100%);
}

#taukoPopup i, #PeliLoppu i{
    font-size: 48px;
    color: rgb(10, 85, 20);
    position: absolute;
    right: 2%;
    top: 2%;
    margin: 0;
}

#taukoPopup i:hover, #PeliLoppu i:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(93, 255, 114);
    text-shadow: 1px 2px 2px black;
    cursor: pointer;
}

#taukoPopup h2, #PeliLoppu h2{
    color: rgb(93, 255, 114);
    text-shadow: 1px 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#PeliLoppu p{
    position: absolute;
    background-color: #4CAF50;
    border-radius: 8px;
    font-family: "MyCustom"; 
    color: #d7ccc8;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 1px black, 0 0 8px rgba(0, 0, 0, 0.541), 1px 2px 10px rgba(0, 0, 0, 0.603);
    display: inline-block;
    font-size: 4rem;
    min-width: 300px;
    width: 80%;
    cursor: pointer; 
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: solid 3px rgb(34, 78, 36);
}

#PeliLoppu p:hover{
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    cursor: pointer;
}