/*----alkumääritykset----*/
* { margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-transform: uppercase;
}

body {
	width: 100%; 
    font-size: 1.2em;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(../images/pelintausta.png);
	background-size: cover;	
}

/*----noselect(ei pysty maalaamaan objekteja siniseksi)----*/
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }

main{
    width: 100%; 
}

#ohje{
	width:50%;
	display:block;
	position: absolute;
	margin-left: 13%;
}

#audio{
	display:none;
}

#introLogo {
  position: fixed; 
  min-height: 100vh; 
  min-width: 100vw; 
  top:0;
  left:0;
  z-index:400;
  transition: min-height 2s, max-height 2s, opacity 6s;
  opacity:1;
}

#skipButton{
  position: absolute;
  z-index:401;
  bottom:0;
  right:0;
  color: white;
  display: block;
  margin-bottom: 2%;
  margin-right: 2%;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

#showIntro{
	margin-top:5%;
}
#showIntro:hover{
	color:#bfbfbf;
	transition: all 0.4s;

}
infoIn h2:hover{
	cursor: pointer;
}

.infotxt{
	margin-left:30px;
	margin-bottom: 30px;
	list-style: circle;

}
.men{
	top:0;
	left:0;
	white-space:nowrap;
	text-align: left;
	margin-left: 15px;
	margin-bottom: 10px;
}

.men:hover{
	color:#bfbfbf;
	transition: all 0.4s;
	cursor:pointer;

}

/*------------------------------------------Cube-tekijät-------------------------------------*/

.scene {
  margin-left: 25%;
  margin-top: 5%;
  width: 400px;
  height: 400px;
  perspective: 1200px; /*3x*/
}

.cube.show-front  { transform: translateZ(-200px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-200px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-200px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-200px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-200px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-200px) rotateX(  90deg); }

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: translateZ(-100px);
}

.cube__face {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  line-height: 400px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front  { background: hsla(88, 0%, 100%, 0.7); }
.cube__face--right  { background: hsla(88, 0%, 31%, 0.7); }
.cube__face--back   { background: hsla(88, 0%, 13%, 0.7); }
.cube__face--left   { background: hsla(88, 0%, 37%, 0.7); }
.cube__face--top    { background: hsla(88, 0%, 6%, 0.7); }
.cube__face--bottom { background: hsla(88, 0%, 19%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(200px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(200px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(200px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(200px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(200px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(200px); }

/*----tekijöiden kuvat kuutiossa----*/

.cube__face--front{
	background-image:url("../images/logo2.png");
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
	opacity: 0.9;
}

.cube__face--back{
	background-image:url("../images/tekijaOR.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.cube__face--left{
	background-image:url("../images/tekijaLH.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.cube__face--right{
	background-image:url("../../blackjack/images/tekijaJK.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}


.cube__face--top{
	background-image:url("../images/tekijaJR.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.pCube{
	position: absolute;
	padding: 0px;
	margin:0px;
	margin-top: 250px;
	text-align: center;
	opacity: 0;
	color: black;
}

#C1{
	opacity:1;
}

.overlay{
	display: block;
	width: 100%;
	height:100%;
	background: hsla(88, 0%, 25%, 0.7);
}
/*------------------------------------------Tekijät-------------------------------------*/

#openClose{
	position: absolute;
	margin-left: 90%;
	margin-top:-0.25%;
	top:0;
	color: #1a1a1a;
	text-align: center;
	display: block;
	opacity: 0;
	width: 6%;
	cursor: pointer;
}

#cInfo{
	top: 0;
	left: 0;
	position: absolute;
	margin-top:6.5%;
	margin-left: 50%;
	height:75%;
	width: 40%;
	background: transparent;
	cursor:default;
}

#openClose h2{
	display: block;
	text-align: center;
	justify-content: center;
	padding-top: 10%;
}

#creators{
	position: absolute;
	top: 0;
	margin-top: 6%;
	margin-left: 10%;
	width: 10%;
    height: 50%;
}
.list{
	text-align: center;
	display: flex;
	transition: all 0.4s;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 15%;
	 font-size: 20px;
	font-weight: bold;
	color:#f2f2f2;
}

.list:hover{
	color:black;
	cursor: pointer;
}

/*-------------------------------------------header---------------------------------*/

#infContent{
	display:block;
	position: relative;
	width: 100%;
	height: 100%;
}

#infoIn{
	color:#f2f2f2;
	display: block;
	z-index: 300;
	position: fixed;
	width: 570px;
	height: 400px;
	margin-left: 40px;
	margin-top: 200px;
	transition: all 0.7s;
	background: -webkit-linear-gradient(to bottom, #cbcaa5, #334d50); 
	background: linear-gradient(to bottom, #cbcaa5, #334d50);
	border: 1px solid #f2f2f2;	
	text-shadow: 1px 3px 4px #0a0a0a;
}
#infoIn h1{
	border-bottom: 1px solid #f2f2f2;
	width: 100px;
}

#infoOut{
	display: block;
	position: fixed;
	margin-left: -50%;
	margin-top: -50%;
	width: 0%;
	height: 0%;
	opacity: 0;
	transition: all 1s;
}

.info{
	border-radius: 10px;
}

.info h1{
		text-align: center;
}

.exit{
	padding-right:2%;
	right:0;
	padding-top: 2%;
	top:0;
	position:absolute;
	font-weight:bold;
}

.pan{
	display:inline;
}

#rightCorner{
	display: block;
	margin-left: 90%;
	margin-top: -2%;
}
#rightCorner h2:hover{
	color:#666666;
}
#leftCorner{
	display: block;
	margin-left: 0%;
	margin-top: -2%;
}
#leftCorner h2, #rightCorner h2{
	display: block;
	text-align: center;
	justify-content: center;
	padding-top: 10%;
	cursor: pointer;
}

#header{
	width: 100%;
	display: block;
	height: 9%;
	position: absolute;
	left: 0 ;
	top: 0 ;
	z-index: 300;
	background: #334d50; 
	background: -webkit-linear-gradient(to bottom, #cbcaa5, #334d50); 
	background: linear-gradient(to bottom, #cbcaa5, #334d50); 
	transition: height 1s, background 5s;
	border-bottom: 1px solid #f2f2f2;
}

#header a{
	text-decoration: none;
	color: #f2f2f2;
}


#header img{
	position: absolute;
	height: 90%;
	margin-left: 49.25%;
	margin-top: 0.20%;
	transform: translateX(-50%);
}
.box{
	float: left;
	display: block;
	width: 50%;
	height: 28%;
	justify-content: center;
	text-align: center;
	font-size: 30px;
}

#nav{
	display: block;
	width: 50%;
	margin-left:0%;
	height: 100%;
	margin-top: 0%;
	background: transparent;
	padding-top:9vh;
	border-radius: 40px;
	position: absolute;
}
.menu{
	text-align: center;
	display: flex;
	text-decoration: none;
	font-size: 30px;
	width: 100%;
	height: 100%;
	color:white;
	transition: all 1s;
	justify-content: center;
	align-items: center;
}
.menu:hover{
	background: lightgray;
	color:black;
	font-size: 40px;
	cursor: pointer;
}

#panel{
	display: block;
	width: 40%;
	margin-left:50%;
	height: 48%;
	margin-top: 18%;
	background: transparent;
	padding-top:5%;
	border-radius: 40px;
	position:absolute;
}
#panel img{
max-height: 50%;
max-width: 80%;
margin-left: 20%;
padding-bottom: 20%;

}

/*-------------------------------------------footer---------------------------------*/
#footer{
	width: 100%;
	display: block;
	height: 4%;
	bottom:0;
	left: 0;
	position: fixed;
	z-index: 200;
	transition: all 1s;
	background: #334d50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
#footer .menu:hover{
	background: transparent;
	padding-bottom: 0%;
}

#footer .menu{
	background: transparent;
	padding-bottom: 0%;
	margin-left:-2%;
	padding-top:1%;
}


#tekija{
	padding-top: 5px;
	color: #f2f2f2;
	text-align: center;
	cursor: pointer;
}

#tekija:hover{
	transition-duration: 0.4s;
	color: #bfbfbf;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;


}

#DExit{
	height: 100%;
	width: 6%;
	position:absolute;
	right:0;
	top: 0;
	padding-top: 20px;
	color: #f2f2f2;
}

#DExit h2{
	color: #f2f2f2;
}

#DExit h2:hover{
	color: black;
	transition-duration: 0.4s;
	opacity: 0.5;
}

#DMute{
	height: 100%;
	width: 6%;
	position:absolute;
	right:0;
	top: 0;
	margin-right: 6%;
	padding-top: 20px;
	color: #f2f2f2;
}

#DInfo{
	height: 100%;
	width: 6%;
	position:absolute;
	padding-top: 20px;
	left:0;
	top: 0;
	color: #f2f2f2;
}

#DInfo:hover, #DMute:hover, #openClose:hover{
	color: black;
	transition-duration: 0.4s;
	opacity: 0.5;
  }

  #openClose{
	  color:#f2f2f2;
	  margin-left: 93%;
  }
  #openClose:hover{
	  transition-duration: 0.4s;
  }

.htext, .ptext{
	text-align: center;
	font-weight: bold;
	color: lightgray;
}
#cpText, #chText{
	text-align: center;
	color:#f2f2f2;
	text-transform: uppercase;
	text-shadow: 1px 3px 6px #0a0a0a;
}

#chText{
	font-size: 40px;
	border-bottom: 1px solid #f2f2f2;
}

#cpText{
	margin-top: 10%;
	font-size: 30px;
}

#exit, #info{
	display: none;
}

/*-----headerin volumisäädöt-----*/
.volume{
    visibility: visible;
}
span#mute, span#down, span#up{
    position: absolute;
    background-size: cover;
    display: block;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    top: 5vh;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#mute{
    background-image: url('../../juomapeli/images/volumemute.png');
    width: 25px;
    height: 25px;
    right: 24vw;
}

#mute:hover{
	cursor: pointer;
}

#up{
    background-image: url('../../juomapeli/images/volumeup.png');
    width: 30px;
    height: 25px;
    right: 7vw;
}
#up:hover{
	cursor: pointer;
}

#down{
    background-image: url('../../juomapeli/images/volumedown.png');
    width: 25px;
    height: 25px;
    right: 21vw;
}
#down:hover{
	cursor:pointer;
}

span#mute:hover, span#down:hover, span#up:hover{
    transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1);
}

#volumeslider{
    position: absolute;
    right: 10vw;
    margin: auto 0;
    display: block;
    top: 5vh;
	height: 5px;
	width: 10vw;
    background:rgb(196, 196, 196);
    box-shadow: 0px 3px 3px rgba(255,255,255,0.5), 1px 1px 0px black;
    border-radius: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: rgb(177, 255, 181);
    border: none;
    border-radius: 10px;
    outline: none;
    
}

.ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgb(68, 68, 68);
    box-shadow: 1px 1px 1px black;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
    
}

.ui-slider-handle:hover{
    transform: scale(1.1);
}



button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
}

#Video{
	margin-left: 175px;
	margin-top: 20px;
}

.hidden{
	display: none;
}

/*-----pelipäättyi-----*/
.overlay-text{
	position: fixed;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	z-index: 2;
	color: #f2f2f2;
	display: none;
}

.overlay-text.visible{
	display: flex;
	flex-direction: column;
	animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow{
	from{
		background-color:rgba(0,0,0,0);
		font-size: 0;
	}
	to{
		background-color:rgba(0,0,0, .8);
		font-size: 6em;
	}
}

.overlay-text-small{
	font-size: 20px;
}

.overlay-stats-time{
	font-size: 20px;
}
.overlay-stats-moves{
	font-size: 20px;
}

/*-----pelimenu-----*/
#gamemenu{
    height: 415px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	border: 1px solid #f2f2f2;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	margin-top: 50px;
}

#gamemenu button:hover{
  background-color: white;
  color: black;
}

#gamemenu button  {
    height: 50px;
    width: 200px;
    margin-top: 50px;
    color: #f2f2f2;
    opacity: 1;
    font-size: 20px;
    border: 1px solid #f2f2f2;
    transition-duration: 0.4s;
	background-color: transparent;
    opacity: 0.8;
    border-radius: 5px;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
    
}

#gamemenu li{
    list-style: none;
}

#info-panel{
	display: none;
	color: #f2f2f2;
	text-shadow: 1px 3px 10px #0a0a0a;
}

#info-panel h1{
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	height: 30px;
	margin-left: 20%;
	margin-right: 20%;
	border-bottom: 1px solid #f2f2f2;
	text-shadow: 4px 3px 3px rgba(0,0,0,0.46);
	cursor: default;
}

#info-panel li{
	font-size: 18px;
	margin-top: 12px;
	padding: 5px;
	text-align: left;
	text-shadow: 4px 3px 3px rgba(0,0,0,0.46);
	list-style: circle;
	margin-left: 25px;
	cursor: default;
}

#restart{
	color:#f2f2f2;
	text-shadow: 4px 3px 3px rgba(0,0,0,0.46);
	font-size: 20px;
	display: none;
	cursor: pointer;
}

#restart:hover{
	color: #bfbfbf;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#restart:active{
	color: #999999;
}

/*----shake-efekti hoverissa-----*/
@keyframes shake {
 
  10%, 90% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

/*-----takaisin näppäin-----*/
#backtomenu{
	float: left;
	text-align: center;
	margin-left: 25px;
	margin-top: 100px;
	font-size: 17px;
	height: 30px;
    width: 120px;
    color: #f2f2f2;
    opacity: 1;
    border: 1px solid #f2f2f2;
    transition-duration: 0.4s;
	background-color: transparent;
	padding: 5px;
    opacity: 0.8;
    border-radius: 5px;
	text-shadow: 2px 5px 15px #0a0a0a;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	visibility: hidden;
}

#backtomenu:hover{
	cursor: pointer;
	border-bottom: 1px solid #e6e6e6;
	background-color: white;
  	color: black;
}

/*-----takaisin näppäin-----*/
#backtomenu2{
	float: right;
	text-align: center;
	margin-top: 100px;
	margin-right: 20px;
	font-size: 17px;
	height: 30px;
    width: 120px;
    color: #f2f2f2;
    opacity: 1;
    border: 1px solid #f2f2f2;
    transition-duration: 0.4s;
	background-color: transparent;
	padding: 5px;
    opacity: 0.8;
    border-radius: 5px;
	text-shadow: 2px 5px 15px #0a0a0a;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
	visibility: hidden;
}

#backtomenu2:hover{
	cursor: pointer;
	border-bottom: 1px solid #e6e6e6;
	background-color: white;
  	color: black;
}

/*----pelin infot pelilaudan yläpuoli-----*/
.game-info-container{
  	display: flex;
  	width: 640px;
	width: 40%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 245px;
}

.game-info{
	color: #f2f2f2;
	font-size: 20px;
	padding-bottom: 10px;
	display: none;
	text-shadow: 1px 3px 10px #0a0a0a;
	cursor: default;
}

#memory-game{
    width: 640px;
    height: 640px;
    flex-wrap: wrap;
    perspective: 1000px;
	background-image: url(../images/pelilaudantausta.png);
    display: none;
}

.memory-card{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.7s;
}

.memory-card.flip{
    transform: rotateY(180deg);
}

.memory-card:active:hover{
    transform: scale(0.9);
	transition: transform 0.2s;
}

.kuvapuoli, .taustapuoli{
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    border-radius: 7px;
	box-shadow: 1px 3px 10px #0a0a0a;
	-webkit-user-drag: none;
}

.kuvapuoli{
    transform: rotateY(180deg);
}

.kuvapuoli, img{
    height: 200px;
}

/*-----korttien skaalaus ikkunan pienentyessä-----*/
@media (max-width:640px){
	.kuvapuoli, .taustapuoli{
		height: 100px;
		width: 75px;
	}
	#memory-game{
		width: 430px;
		height: 430px;
	}
	.memory-card{
		width: calc(25% - 30px);
        height: calc(33.333% - 30px);
		left: 5%;
		right: 5%;
	}
}

@media (max-width:1200px){
	.game-info-container{
		display: flex;
		width: 70%;
	}
	.game-info{
		font-size: 15px;
	}
	#restart{
		font-size: 15px;
	}
}



