
*:not(.ui-slider-range){
    transition: all 2s, left 0ms, top 0ms;
    font-family: arial;
}
#header{
    width:100%;
    display: block;
    height: 9%;
    position: absolute;
    left:0;
    top:0;
    z-index: 300;
    background-image: linear-gradient(to right, rgba(211,211,211,1), rgba(211,211,211,1) 10%, rgba(211,211,211,1)90%, rgba(211,211,211,1));
    transition: height 2s, background 11s;
}

#header img{
    margin-top: 1.2%;
    height: 45%;
    margin-left: 49.25%;
    transform: translateX(-50%);
}

#content{
    width: 100%;
   
    display: block;
    height: 100%;
    position: relative;
    z-index: 100;
}

body{
    overflow: hidden;
    background-image: url("../images/taustahl2.png");
    background-size: cover;
    
    z-index: 100;
}

#footer{
	width: 100%;
	display: block;
	height: 7%;
	bottom:0;
	left: 0;
	position: fixed;
	z-index: 200;
	transition: all 2s;
	background-image: linear-gradient(to right, rgba(211,211,211,0.4), rgba(211,211,211,0.9) 10%, rgba(211,211,211,0.9) 90%, rgba(211,211,211,0.4)); /*#111111*/
}
#footer .menu:hover{
	background: transparent;
	padding-bottom: 0%;
}

#footer .menu{
	background: transparent;
	padding-bottom: 0%;
	margin-left:-2%;
	padding-top:1%;
}

#tekija{
    color: #1a1a1a;
    text-align: center;
}

#DExit{
    height: 100%;
    width: 6%;
    position: absolute;
    right:0;
    top: 0;
}
#DMute{
    height: 100%;
    width: 6%;
    position: absolute;
    right:0;
    top:0;
    margin-right: 6%;
}
#DInfo{
    height: 100%;
    width: 6%;
    position: absolute;
    left:0;
    top:0;
}
#DInfo:hover, #DExit:hover, #DMute:hover, #openClose:hover{
    background: white;
}

.htext, .ptext{
    text-align: center;
    font-weight: bold;
    color: lightgray;
}
#cpText, #chText{
    text-align: center;
    font-weight: bold;
}
#exit, #info{
    display: none;
}

#game{
    width: 85%;
    background-image: linear-gradient(to right, rgba(0,0,0,0,0.5),gray 10%,gray 90%, rgba(0,0,0,0.5));
    display: block;
    height: 101%;
    margin-top: -0,5%;
    margin-left: 7.5%;
    position: absolute;
    border: 0px solid #111111;
    z-index: 200;
}

body{
    overflow: hidden;
    /*background: url("")*/
    background-size: cover;
    z-index: 300;
}

#rightCorner{
    display: block;
    margin-left: 90%;
    margin-top: -2%;
}

#rightCorner a:visited{
    text-decoration: none;
    color: black;
}

#leftCorner{
    display: block;
    margin-left: 0%;
    margin-top: -2%;
}

#leftCorner h2, #rightCorner h2{
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 10%;
}

#buttons{
    
    width: 40%;
    height: auto;
    margin: 0;
    margin-left: 45%;
    top: 20%;
    background-color: transparent;
}
.button{
    margin: 0;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}



#high{
    background-image: url("../images/highernappi.png");
    background-size: cover;
    width: 130px;
    height: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#same{
    background-image: url("../images/samenappi.png");
    background-size: cover;
    width: 130px;
    height: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#low{
    background-image: url("../images/lowernappi.png");
    background-size: cover;
    width: 130px;
    height: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#announcer{
    position: absolute;
    margin: 0;
    display: block;
    text-align: center;
    justify-content: center;
    height: 60px;
    width: 300px;
    top: 30%;
    left: 40%;
}

#text{
    text-align: center;
    font-family: arial;
    font-size: 30px;
    color: white;
   margin: 0%;
}

#pisteet{
    text-align: center;
    font-family: arial;
    font-size: 30px;
    color: white;
    margin: 0%;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

.row{
    height: 400px;
    
}

#carddeck{
    position: fixed;
    top: 25%;
    right: 15%;
    height: 300px;
    width: 200px;
    background-image: url(../images/Cardback.png);
    background-size: 200px 300px;
    z-index: 2;
    box-shadow: 5px 5px 10px black;
}
.card{
    position: absolute;
    top: 25%;
    right: 15%;
    height: 300px;
    width: 200px;
    background-color: transparent;
    background-size: 300px 200px;
    transform: scale(1.1);
    transition: transfrorm 1s;
    z-index: 2;
    perspective: 1000px;
}

#card{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 5px 5px 10px black;
    border: 1px solid #282828;

}

#card div{
    position: absolute;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

#card .front{
    background-image: url(../images/Cardback.png);
    background-size: 200px 300px;
}

.front, .back{
    backface-visibility: hidden;
    position: absolute;
}

.back{
    transform: rotateY(180deg);
}

.flipped{
    transform: rotateY(180deg);
}

#pisteet{
    height: 20px;

}

#audio{
    display:none;
}

#showIntro{
    margin-top:10%;
}

#ohje{
	width:50%;
	display:block;
	position: absolute;
    margin-left: 25%;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}

#end{
    visibility: hidden;
    width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#endtext{
    text-align: center;
}

#endcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.men{
    top:0;
    left:0;
    width: 35%;
    height: 10%;
    margin-left: 10%;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
}
.scene{
    margin-left: 25%;
    margin-top: 5%;
    width: 400px;
    height: 400px;
    perspective: 1200px;
}
.cube.show-front  { transform: translateZ(-200px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-200px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-200px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-200px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-200px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-200px) rotateX(  90deg); }

.cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: translateZ(-100px);
}
.cube__face{
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    line-height: 400px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.cube__face--front  { background: hsla(88, 0%, 25%, 0.7); }
.cube__face--right  { background: hsla(88, 0%, 31%, 0.7); }
.cube__face--back   { background: hsla(88, 0%, 13%, 0.7); }
.cube__face--left   { background: hsla(88, 0%, 37%, 0.7); }
.cube__face--top    { background: hsla(88, 0%, 6%, 0.7); }
.cube__face--bottom { background: hsla(88, 0%, 19%, 0.7); }


.cube__face--front  { transform: rotateY(  0deg) translateZ(200px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(200px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(200px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(200px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(200px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(200px); }

.cube__face--front{
    background-image: url("../images/logo2.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    opacity: 0,9;
}

.cube__face--back{
	background-image:url("../images/tekijaOR.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.cube__face--left{
	background-image:url("../images/tekijaLH.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.cube__face--right{
	background-image:url("../../blackjack/images/tekijaJK.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}


.cube__face--top{
	background-image:url("../images/tekijaJR.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.pCube{
	position: absolute;
	padding: 0px;
	margin:0px;
	margin-top: 250px;
	text-align: center;
	opacity: 0;
	color: black;
}

#C1{
	opacity:1;
}

.overlay{
	display: block;
	width: 100%;
	height:100%;
	background: hsla(88, 0%, 25%, 0.7);
}

#Video{
    margin-left: 22.5%;
}

#openClose{
    position: absolute;
    margin-left: 90%;
    margin-top:-0.25%;
    top:0;
    color: #1a1a1a;
    text-align: center;
    display: block;
    opacity: 0;
    width: 6%;
    cursor: pointer;
}
#cInfo{
    top: 0;
    left: 0;
    position: absolute;
    margin-top:6.5%;
    margin-left:50%;
    height: 75%;
    width: 40%;
    background:transparent;
}
#openClose h2{
    display:block;
    text-align: center;
    justify-content: center;
    padding-top: 10%;
}
#creators{
    position: absolute;
    top: 0;
    margin-top: 6%;
    margin-left: 10%;
    width: 10%;
    height: 50%;
}
.list{
    text-align: center;
    display: flex;
    transition: all 1s;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17%;
    font-size: 20px;
    font-weight: bold;
}
.list:hover{
    background: white;
    color: black;
    cursor: pointer;
}
#infContent{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
#infoIn{
    display: block;
    z-index: 300;
    position: fixed;
    width: 65%;
    height: 60%;
    margin-left: 17%;
    margin-top: 12%;
    transition: all 2s;
}
#infoOut{
    display: block;
    position: fixed;
    margin-left: -50%;
    margin-top:-50%;
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: all 2s;
    
}
.info{
    background: lightgray;
    border-radius: 10px;
}
.info h2{
    text-align: center;
}
.exit{
    padding-right: 2%;
    right:0%;
    padding-top: 2%;
    top:0;
    position: absolute;
    font-weight: bold;
}
.volume{
    visibility: visible;
}
span#mute, span#down, span#up{
    position: absolute;
    background-size: cover;
    display: block;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    top: 5vh;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#mute{
    background-image: url('../../juomapeli/images/volumemute.png');
    width: 25px;
    height: 25px;
    right: 24vw;
}

#up{
    background-image: url('../../juomapeli/images/volumeup.png');
    width: 30px;
    height: 25px;
    right: 7vw;
}

#down{
    background-image: url('../../juomapeli/images/volumedown.png');
    width: 25px;
    height: 25px;
    right: 21vw;
}


span#mute:hover, span#down:hover, span#up:hover{
    transform: translateY(-50%) scale(1.4);
    -webkit-transform: translateY(-50%) scale(1.4);
}

#volumeslider{
    position: absolute;
    right: 10vw;
    margin: auto 0;
    display: block;
    top: 5vh;
	height: 5px;
	width: 10vw;
    background:rgb(196, 196, 196);
    box-shadow: 0px 3px 3px rgba(255,255,255,0.5), 1px 1px 0px black;
    border-radius: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: rgb(66, 104, 155);
    border: none;
    border-radius: 10px;
    outline: none;
    
}

.ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgb(68, 68, 68);
    box-shadow: 1px 1px 1px black;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
    
}

.ui-slider-handle:hover{
    transform: scale(1.4);
}