*:not(.ui-slider-range){
	transition: all 2s, left 0ms, top 0ms;
	font-family: Arial;
}

#ohje{
	width:50%;
	display:block;
	position: absolute;
	margin-left: 13%;
}


#audio{
	display:none;
}

#introLogo {
  position: fixed; 
  min-height: 100vh; 
  min-width: 100vw; 
  top:0;
  left:0;
  z-index:400;
  transition: min-height 2s, max-height 2s, opacity 6s;
  opacity:1;
}

#skipButton{
	position: absolute;
	 z-index:401;
  bottom:0;
  right:0;
  color: white;
  display: block;
  margin-bottom: 2%;
  margin-right: 2%;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

#showIntro{
	margin-top:5%;
}

p, h2, a{
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.men{
	top:0;
	left:0;
	width: 35%;
	height: 10%;
	margin-left: 10%;
	cursor: pointer;
	white-space:nowrap;
	text-align: left;
}
/*------------------------------------------Cube-------------------------------------*/

.scene {
margin-left: 25%;
margin-top: 5%;
  width: 400px;
  height: 400px;
  perspective: 1200px; /*3x*/
}


.cube.show-front  { transform: translateZ(-200px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-200px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-200px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-200px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-200px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-200px) rotateX(  90deg); }


.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: translateZ(-100px);
}

.cube__face {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  line-height: 400px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}



.cube__face--front  { background: hsla(88, 0%, 100%, 0.7); }
.cube__face--right  { background: hsla(88, 0%, 31%, 0.7); }
.cube__face--back   { background: hsla(88, 0%, 13%, 0.7); }
.cube__face--left   { background: hsla(88, 0%, 37%, 0.7); }
.cube__face--top    { background: hsla(88, 0%, 6%, 0.7); }
.cube__face--bottom { background: hsla(88, 0%, 19%, 0.7); }


.cube__face--front  { transform: rotateY(  0deg) translateZ(200px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(200px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(200px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(200px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(200px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(200px); }

.cube__face--front{
	background-image:url("../images/logo2.png");
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
	opacity: 0.9;
}


.cube__face--back{
	background-image:url("../images/tekijaOR.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.cube__face--left{
	background-image:url("../images/tekijaLH.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.cube__face--right{
	background-image:url("../images/tekijaJK.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}


.cube__face--top{
	background-image:url("../images/tekijaJR.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.pCube{
	position: absolute;
	padding: 0px;
	margin:0px;
	margin-top: 250px;
	text-align: center;
	opacity: 0;
	color: black;
}

#C1{
	opacity:1;
}

.overlay{
	display: block;
	width: 100%;
	height:100%;
	background: hsla(88, 0%, 25%, 0.7);
}
/*------------------------------------------Tekijät-------------------------------------*/

#openClose{
	position: absolute;
	margin-left: 90%;
	margin-top:-0.25%;
	top:0;
	color: #1a1a1a;
	text-align: center;
	display: block;
	opacity:0;
	width: 6%;
	cursor:pointer;
}

#cInfo{
	top: 0;
	left: 0;
	position: absolute;
	margin-top:6.5%;
	margin-left: 50%;
	height:75%;
	width: 40%;
	background: transparent;
}

#openClose h2{
	display: block;
	text-align: center;
	justify-content: center;
	padding-top: 10%;
}

#openClose h2:hover{
	transform: scale(1.2);
	transition: all 0.2s linear;
}

#creators{
	position: absolute;
	top: 0;
	margin-top: 6%;
	margin-left: 10%;
	width: 10%;
  height: 50%;
}
.list{
	text-align: center;
	display: flex;
	transition: all 1s;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 17%;
	 font-size: 20px;
	font-weight: bold;
}

.list:hover{
	background: white;
	color:black;
	cursor: pointer;
}

#rightCorner a:visited{
	text-decoration: none;
	color:black;
}

#rightCorner a{
	text-decoration: none;
	color:black;
}

#tut{
	display:block;
	position:absolute;
	right:0;
	margin-top: 10%;
	margin-right: -1%;
	height: 100%;
	width: 10%;
}

h2#tekija{
	transition: all 0.2s linear;
}

h2#tekija:hover{
	transform: scale(1.2);
	color: #2e2e2e;
}

/*-------------------------------------------Intro---------------------------------*/

#infContent{
	display:block;
	position: relative;
	width: 100%;
	height: 100%;
}

#infoIn{
	display: block;
	z-index: 300;
	position: fixed;
	width: 65%;
	height: 60%;
	margin-left: 17%;
	margin-top: 12%;
	transition: all 2s;
}

#infoOut{
	display: block;
	position: fixed;
	margin-left: -50%;
	margin-top: -50%;
	width: 0%;
	height: 0%;
	opacity: 0;
	transition: all 2s;
}

.info{
	background: lightgray;
	border-radius: 10px;
}

.info h1{
		text-align: center;
}

.exit{
	padding-right:2%;
	right:0;
	padding-top: 2%;
	top:0;
	position:absolute;
	font-weight:bold;
}

body{
	overflow: hidden;
	background: url("../images/testbg1.png");
	background-size: cover;
	z-index:300;
	color: #243643;
}

.pan{
	display:inline;
}

#game{
	width: 85%;
	background-image: linear-gradient(to right, rgba(0,0,0,0,0.5),gray 10%,gray 90%, rgba(0,0,0,0,0.5));
	display: block;
	/*overflow: hidden;*/
	height: 101%;
	margin-top: -0.5%;
	margin-left: 7.5%;
	position: absolute;
	border: 0px solid #111111;
	z-index: 200;
}

#rightCorner{
	display: block;
	margin-left: 90%;
	margin-top: -2%;
}
#leftCorner{
	display: block;
	margin-left: 0%;
	margin-top: -2%;
}
#leftCorner h2, #rightCorner h2{
	display: block;
	text-align: center;
	justify-content: center;
	padding-top: 10%;
}

#header{
	width: 100%;
	display: block;
	height: 9%;
	position: absolute;
	left: 0 ;
	top: 0 ;
	z-index: 300;
	background-image: linear-gradient(to right, rgba(211,211,211,1), rgba(211,211,211,1) 10%, rgba(211,211,211,1) 90%, rgba(211,211,211,1)); /*#111111*/
	transition: height 2s, background 11s;
}

#header img{
	position: absolute;
	margin-top:1.2%;
	height: 45%;
	margin-left: 49.25%;
	transform: translateX(-50%);
}
.box{
	float: left;
	display: block;
	width: 50%;
	height: 28%;
	justify-content: center;
	text-align: center;
	font-size: 30px;
}

#nav{
	display: block;
	width: 50%;
	margin-left:0%;
	height: 100%;
	margin-top: 0%;
	background: transparent;
	padding-top:9vh;
	border-radius: 40px;
	position: absolute;
}
.menu{
	text-align: center;
	display: flex;
	text-decoration: none;
	font-size: 30px;
	width: 100%;
	height: 100%;
	color:white;
	transition: all 1s;
	justify-content: center;
	align-items: center;
}
.menu:hover{
	background: lightgray;
	color:black;
	font-size: 40px;
	cursor: pointer;
}

#panel{
	display: block;
	width: 40%;
	margin-left:50%;
	height: 48%;
	margin-top: 18%;
	background: transparent;
	padding-top:5%;
	border-radius: 40px;
	position:absolute;
}
#panel img{
max-height: 50%;
max-width: 80%;
margin-left: 20%;
padding-bottom: 20%;

}

#footer{
	width: 100%;
	display: block;
	height: 7%;
	bottom:0;
	left: 0;
	position: fixed;
	z-index: 200;
	transition: all 2s;
	background-image: linear-gradient(to right, rgba(211,211,211,0.4), rgba(211,211,211,0.9) 10%, rgba(211,211,211,0.9) 90%, rgba(211,211,211,0.4)); /*#111111*/
}
#footer .menu:hover{
	background: transparent;
	padding-bottom: 0%;
}

#footer .menu{
	background: transparent;
	padding-bottom: 0%;
	margin-left:-2%;
	padding-top:1%;
}

#tekija{
	color: #1a1a1a;
	text-align: center;
	
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#DExit{
	height: 100%;
	width: 6%;
	position:absolute;
	right:0;
	top: 0;
	
	
}
#DMute{
	height: 100%;
	width: 6%;
	position:absolute;
	right:0;
	top: 0;
	margin-right: 6%;
}
#DInfo{
	height: 100%;
	width: 6%;
	position:absolute;
	left:0;
	top: 0;
	
	
}
#DInfo:hover, #DExit:hover, #DMute:hover, #openClose:hover{
	background: white;
}

.htext, .ptext{
	text-align: center;
	font-weight: bold;
	color: lightgray;
}
#cpText, #chText{
	text-align: center;
	font-weight: bold;
}

#chText{
	font-size: 40px;
}

#cpText{
	margin-top: 10%;
	font-size: 30px;
}

#exit, #info{
	display: none;
}
/*----------------------Global-------------------------*/
.flip{
	perspective: 1000px;
	position: absolute;
	display: block;
	height: 20%;
	min-height: 165px;
	max-height: 165px;
	max-width:120px;
	min-width:120px;
	width: 8.33333%;
	top: 0px;
	left: 0px;
	margin-left: -12.5%;
	margin-top: -5.5%;
	perspective: 1000px;
	background-color: transparent;
}
.flipInner{
	position: relative;
	  transition: transform 0.8s;
	transform-style: preserve-3d;
	  width: 100%;
	height: 100%;
}

.turned .flipInner{
	transform: rotateY(180deg);
}
.flipFront .flipBack{
	position: absolute;
	 backface-visibility: hidden;
	   width: 100%;
		height: 100%;
		
}

.flipBack{
	transform: rotateY(180deg);
	background-size: cover;
}

.flipFront{
	background-size: cover;
}

#Cindicator{
	position:absolute;
	margin-top: 12%;
	font-size: 20px;
}

#Pindicator{
	position:absolute;
	margin-top: 40%;
	font-size: 20px;
}

#title{
	position:absolute;
	left:0;
	top:0;
	margin-top: 21%;
	margin-left: 15%;
	text-align:center;
	font-size: 200px;
	z-index:-1;
	opacity:0.4;
	color: black;
}

#content{
	width: 100%;
	/*background-image: linear-gradient(to right, rgba(0,0,0,0), teal 20%, teal 80%, rgba(0,0,0,0)); /*#111111*/
	display: block;
	height: 100%;
	position: relative;
	z-index: 101;
	
}
#cardsdeck{
	width: 8.33333%;
	background: url("../images/Cardback.png") no-repeat;
	background-size: cover;
	display: block;
	min-height: 165px;
	max-height: 165px;
	max-width:120px;
	min-width:120px;
	height: 20%;
	position: absolute;
	margin-left: 80% ;
	margin-top: 15vh;
	z-index: 99;
	
}

#ttt{
	position: absolute;
	margin-left: 78% ;
	margin-top: 35vh;
	height: 100%;
	width: 10%;
}


#drawCard{
	margin-top: 20%;
}
#panos,#points,#drawCard,#buttons{
	margin-left: 23%;
	white-space:nowrap;
}

#pelaa{
	margin-left: 15%;
}

#topcard{
	background: url("../images/Cardback.png") no-repeat;
	background-size: cover;
	position: absolute;
	display: block;
	height: 20%;
	min-height: 165px;
	max-height: 165px;
	max-width:120px;
	min-width:120px;
	width: 8.33333%;
	top: 0px;
	left: 0px;
	margin-left: -12.5%;
	margin-top: -5.5%;
	perspective: 1000px;
}

.cpu{
	background: url("../images/Cardback.png") no-repeat;
	background-size: cover;
	position: absolute;
	display: block;
	height: 20%;
	min-height: 165px;
	max-height: 165px;
	max-width:120px;
	min-width:120px;
	width: 8.33333%;
	margin-left: 80% ;
	margin-top: 15vh;
	perspective: 1000px;
}

.cpucardback{
	background: url("../images/Cardback.png") no-repeat;
	background-size: cover;
	position: absolute;
	display: block;
	height: 20%;
	min-height: 165px;
	max-height: 165px;
	max-width:120px;
	min-width:120px;
	width: 8.33333%;
	margin-left: 80%;
	margin-top: 15vh;
	transition: all 2s;
	perspective: 1000px;
}

.cpucardback2{
	background: url("../images/Cardback.png") no-repeat;
	background-size: cover;
	position: absolute;
	display: block;
	height: 20%;
	min-height: 165px;
	max-height: 165px;
	max-width:120px;
	min-width:120px;
	width: 8.33333%;
	margin-left: 80%;
	margin-top: 15vh;
	transition: all 2s;
	perspective: 1000px;
}


.cardback{
	background: url("../images/Cardback.png") no-repeat;
	background-size: cover;
	position: absolute;
	height: 20%;
	min-height: 165px;
	max-height: 165px;
	max-width:120px;
	min-width:120px;
	width: 8.33333%;
	/*margin-left: -12.5%;
	margin-top: -10.5%;*/
	perspective: 1000px;
}
.cardfront{
	background-size: cover;
	position: absolute;
	height: 20%;
	min-height: 165px;
	max-height: 165px;
	max-width:120px;
	min-width:120px;
	width: 8.33333%;
	/*margin-left: -12.5%;
	margin-top: -10.5%;*/
	perspective: 1000px;
}

#drawCard, #pelaa{
  background-color: lightgray; 
  border: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#panosSmall, #panosBig, #panosSumma{
  background-color: lightgray; 
  border: none;
  color: black;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

#panosSmall:hover, #panosBig:hover, #drawCard:hover, #pelaa:hover{
	color: black;
	background-color: darkgray; 
	cursor:pointer;
	
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}

.box .disabled:hover{
	background: transparent!important;
	font-size: 100%!important;
	color:lightgray!important;
}

.disabled:hover{
	background: transparent!important;
}


/*********************************************************************Slider****************************************************************/


.volume{
    visibility: visible;
}
span#mute, span#down, span#up{
    position: absolute;
    background-size: cover;
    display: block;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    top: 5vh;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#mute{
    background-image: url('../../juomapeli/images/volumemute.png');
    width: 25px;
    height: 25px;
    right: 24vw;
}

#up{
    background-image: url('../../juomapeli/images/volumeup.png');
    width: 30px;
    height: 25px;
    right: 7vw;
}

#down{
    background-image: url('../../juomapeli/images/volumedown.png');
    width: 25px;
    height: 25px;
    right: 21vw;
}


span#mute:hover, span#down:hover, span#up:hover{
    transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1);
	cursor: pointer;
	transition: all 0.2s linear;
}

#Video{
	margin-left: 25%;
}

#volumeslider{
    position: absolute;
    right: 10vw;
    margin: auto 0;
    display: block;
    top: 5vh;
	height: 5px;
	width: 10vw;
    background:rgb(75, 57, 57);
    box-shadow: 0px 3px 3px rgba(255,255,255,0.5), 1px 1px 0px black;
    border-radius: 15px;
    transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		
}

.ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: rgb(85, 124, 87);
    border: none;
    border-radius: 10px;
    outline: none;
    
}

.ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgb(68, 68, 68);
    box-shadow: 1px 1px 1px black;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
    
}

.ui-slider-handle:hover{
    transform: scale(1.1);
}
